# -*- coding: utf-8 -*-
##############################################################################
# Author: SVAKSHA, 2016apr12 
##############################################################################

#====================================================
# GENERAL
#====================================================
data/
.ipynb_checkpoints 
*-pvt-*
PRIVATE/
pvt/


#====================================================
# DVCS
#====================================================
*.git
*.hg
.hgignore

#====================================================
# EDITOR: Vi
#====================================================
*.swp


